 {% extends 'base.html' %}
 {% block content %}
        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="page-wrapper">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            主页 <small>欢迎来到武少军的不知道是什么的一个网页</small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> 雷好哇
                            </li>
                        </ol>
                        <div  h2 {text-align:center;} >
                        <h2>wsj是何许人也？</h2>
                        <h3>wsj</h3>
                        <h3>幼时初从文</h3>
                        <h3>三年未中弟</h3>
                        <h3>再习武</h3>
                        <h3>猎场射箭</h3>
                        <h3>中鼓吏</h3>
                        <h3>逐之</h3>
                        <h3>后学医</h3>
                        <h3>自撰一良方</h3>
                        <h3>服之</h3>
                        <h3>卒</h3>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">

                </div>
                <!-- /.row -->

                <div class="row">

                </div>
                <!-- /.row -->

                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    
                       

                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        {% endblock %} }
